.slyder-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    border-width: 0px;
    border-style: solid;
}

.slyder-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: green;
    outline: none;
    border: none;
    outline:none;
    box-shadow: none;
    width: 50vw;
    height: 3vw;
}

.slyder-head {
    background-color: brown;
    width: 2vw;
    height: 3vw; 
}

.body-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10vw;
    padding-left: 1px;
    z-index: 1;
    background-color: var(--color-bg-dark);
    color: inherit;
}

.slyder-plus {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 50vw;
}

.slyder-plus-img {
    margin-left: 5px;
    margin-top: 5px;
    border: solid 2px var(--main-light-color);
    width: 25px;
    height: 25px;
}