- for (let i = 0; i < slidersOptions.amount; i++)
    div(class="slyder-flex")
        div(class="slyder-body" order=i)
            input(type="text" class="body-input" value=slidersOptions.scale)
        div(class="slyder-head" order=i)